@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Azeret Mono';
}

body {
  scroll-behavior: smooth;
  max-width: 1440px;
}

.Hero_are {
  background-image: url(.././assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 652px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 70px;
}

.Hero_are_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Hero_are_info img {
  margin-bottom: 40px;
}
.Hero_are_info h2 {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  color: rgb(13, 19, 33);
}
.Hero_are_info p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: center;
}
.btn {
  padding: 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
/* main are  */
.main {
  width: 1140px;
  height: 1395px;

  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 80px;
}
.mian_info {
  width: 946px;
  height: 1300px;
  margin: auto;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: 50px;
}
.main_info_are h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  margin-bottom: 37px;
  margin-top: 60px;
}
.main_info_are p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  color: rgb(13, 19, 33);
}
.main_info_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.main_caption1,
.main_caption2,
.main_caption3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.main_caption_text {
  width: 60%;
}
.main_caption_text h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 35px;
  width: 60%;
}
.main_caption_text p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 25px;
}
.main_caption_text button {
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.main_info_card img {
  width: 259.56px;
  height: 217.01px;
}

/* My Inspiration   are  */

.Inspiration {
  height: 775px;
  width: 1140px;
  text-align: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin: 0 auto;
}
.Inspiration_caption {
  margin: 0 auto;
  text-align: center;
}
.Inspiration_caption h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.Inspiration_caption p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
.Inspiration_vedio {
  margin-top: 20px;
}
.Inspiration_vedio iframe {
  border-radius: 16px;
}

/* My Current Target  */
.Current_Target {
  height: 460px;
}
.My_target_caption h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.My_target_caption p {
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin-top: 10px;
  text-align: center;
}
.Current_Target_skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0 30px;
  margin-top: 80px;
}
.skill {
  margin-left: 40px;
}
.skill h5 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  margin-top: 25px;
}
.skill p {
  width: 80%;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 20px;
}
a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
